@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blue-100: #080815;
  --blue-200: #0E0F25;
  --blue-300: #141534;
  --blue-400: #1F2151; 
  --blue-500: #2F3279;
  --blue-600: #2F34AB;
  --blue-700: #4A5DCD;
  --blue-800: #7D8DEC;
  --blue-900: #B2B8DE;
  --white: #F1F2F6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1{
  font-size: 32px !important;
  line-height: 48px !important;
  font-weight: bolder !important;
}

button{
  font-size: 16px !important;
  line-height: 20px !important;
  font-weight: bold !important;
}

body, span{
  color: var(--white) !important;
  font-size: 16px !important;
  line-height: 20px !important;
  font-weight: normal !important;
}

label{
  font-size: 12px !important;
  line-height: 16px !important;
  font-weight: normal !important;
}